libv3m-v2m/trunk/etc/v3m_config.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
DTD for V3M config file.
-->

<!ELEMENT config (qemu?, kvm?, lguest?, vmware?, xen?) >

<!ELEMENT qemu (precommand?, command)>
<!ELEMENT xen (precommand?, command, netboot-image?)>

<!ELEMENT precommand (#PCDATA)>

<!ELEMENT command (#PCDATA)>

<!ELEMENT netboot-image (#PCDATA)>

